
.ripple-button {
   height: 100%;
  width: 100%;
  background: #e7ac72;
  border: 0;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.ripple-button > .ripple {
  width: 15px;
  height: 15px;
  position: absolute;
  background: #e9bd91;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 1.8s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }

}

.ripple-button > .content {
  position: relative;
  z-index: 2;
}
*::-moz-focus-inner {
  border: 0;
}
